---
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <section class="hero">
        <div class="hero-body pb-0">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-11 is-offset-1">
                        <div class="container">
                            {% include nav.html %}
                        </div>
                    <div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="hero-body py-4">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-1 pt-4" style="writing-mode: vertical-rl; text-orientation: mixed;">
                        <h2 class="title is-uppercase has-text-grey-lighter" style="font-weight: 300;">
                            Overview
                        </h2>
                    </div>
                    <div class="column is-11">
                        <div class="is-family-secondary is-size-5 mb-5">
                            {{ site.data.meta.index.background.motivation | markdownify }}
                        </div>
                        <div class="carousel columns is-mobile">
                            {% for item in site.data.meta.index.background.docs %}
                                {% include carousel-card.html detail=item %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        window.onload = () => {
            document.querySelectorAll("#example-summary-panel").forEach(menu => {
                menu.querySelectorAll('a').forEach(atag => {
                    atag.onclick = () => {
                        menu.querySelector('a.is-active').classList.remove('is-active');
                        atag.classList.add('is-active');
                        menu.parentElement.nextElementSibling.querySelector(".one-example-summary.is-active").classList.remove("is-active");
                        menu.parentElement.nextElementSibling.querySelector("#example-" + atag.id + "-text").classList.add("is-active");
                    }
                })
            });
            document.querySelectorAll(".show-more-summary").forEach(button => {
                button.onclick = () => {
                    if (button.textContent === "Show Less") {
                        button.textContent = "Show More";
                    } else {
                        button.textContent = "Show Less";
                    };
                    button.parentElement.children[0].classList.toggle("is-show-summary-part");
                }
            });
        }
    </script>
    <section class="hero">
        <div class="hero-body py-4">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-1 pt-4" style="writing-mode: vertical-rl; text-orientation: mixed;">
                        <h2 class="title is-uppercase has-text-grey-lighter" style="font-weight: 300;">
                            Example
                        </h2>
                    </div>
                    <div class="column is-11">
                        <div class="is-family-secondary is-size-5 mb-5">
                            {{ site.data.meta.index.background.summary | markdownify }}
                        </div>
                        <div class="columns">
                            <div class="column is-4">
                                <aside class="menu" id="example-summary-panel">
                                    <ul class="menu-list">
                                        {% for item in site.data.meta.index.background.summaries %}
                                            <li {% unless forloop.first %} class="my-4" {% endunless %} style="display:block">
                                                <a {% if forloop.first %} class="is-active" {% endif %} style="display:block" id="summary-{{ item.length }}">
                                                    <p class="title is-5">{{ item.length | capitalize }} Summary</p>
                                                    <p class="subtitle is-6 is-italic has-text-grey-light">{{ item.description }}</p>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </aside>
                            </div>
                            <div class="column is-8">
                                <div class="content" style="min-height: 20rem;">
                                    {% for item in site.data.meta.index.background.summaries %}
                                        <div class="{% if forloop.first %} is-active {% endif %} one-example-summary" id="example-summary-{{ item.length }}-text">
                                            {% if item.length == "long" %}
                                                <article class="is-show-summary-part">
                                                    {{ item.text | markdownify }}
                                                </article>
                                                <div class="show-more-summary is-italic has-text-info">Show More</div>
                                            {% else %}
                                                <article>
                                                    {{ item.text | markdownify }}
                                                </article>  
                                            {% endif %} 
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>