---
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                {% include nav.html %}  
            </div>
            <div class="container">
                <div class="is-family-secondary is-size-5 mb-5 pb-3">
                    {{ site.data.meta.index.description | markdownify }}
                </div>
                <aside>
                    <h1>Heading and stuff</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </aside>
            </div>
        </div>
    </section>
</body>
</html>