<div class="column carousel-item">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{ include.detail.title }}</p>
                  <p class="subtitle is-6 is-italic has-text-grey-light">{{ include.detail.description }}</p>
                </div>
            </div>
        </div>
        <div class="card-image">
            <figure class="image is-3by4">
               <a href="{{ include.detail.link }}">
                    <img src="{{ include.detail.image }}" alt="Placeholder image">
               </a>
            </figure>
        </div>
    </div>
</div>