<nav class="pb-5 is-family-sans-serif" role="navigation">
    <h1 class="site-title is-size-2">
        <a href="/">
            {{ site.title }}
        </a>
    </h1>
    <h2 class="subtitle is-bold has-text-weight-bold">
      {{ site.data.meta.index.subtitle }}
    </h2>
    <div class="is-divider mt-1 mb-0"></div>
    
    <div class="tabs is-size-5">
        <ul>
          {% for item in site.data.settings.menu %}
          {% if forloop.first %}
            <li class="pr-2">
              <a href="{{ item.file }}" class="pl-0 navbar-item">{{ item.name }}</a>
            </li>
          {% else %}
            <li class="pr-2">
              <a href="{{ item.file }}" class="navbar-item">{{ item.name }}</a>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>
</nav>