<nav class="pb-5 is-family-sans-serif" role="navigation">
    <h1 class="site-title is-size-2">
        <a href="/">
            {{ site.title }}
        </a>
    </h1>
    <h2 class="subtitle is-bold has-text-weight-bold mb-1">
      {{ site.data.meta.index.subtitle }}
    </h2>
    <div class="is-family-secondary is-size-5 is-italic mb-4 has-text-grey-light"> 
      Featured Paper @ NeurIPS 2022 Datasets and Benchmarks Track
    </div>

    <div class="is-divider mt-1 mb-0"></div>
    
    <div class="tabs is-size-6">
        <ul>
          {% for item in site.data.settings.menu %}
          {% if forloop.first %}
            <li>
              <a href="{{ item.file }}" class="pl-0 navbar-item">{{ item.name }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ item.file }}" class="navbar-item">{{ item.name }}</a>
            </li>
          {% endif %}
          {% endfor %}
          
          {% if site.data.settings.social %}
            <li class="px-4">|</li>
            {% for item in site.data.settings.social %}
              <li>
                <a href="{{ item.link }}" class="button is-white" style="padding-bottom: 0.35em;margin-bottom: 0px;">
                    <i class="{{ item.icon }} fa-w-14" aria-hidden="true"></i>
                </a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
    </div>
</nav>