<nav class="has-text-centered pb-5 is-family-sans-serif" role="navigation">
    <h1 class="site-title is-size-2">
        <a href="/">
            {{ site.title }}
        </a>
    </h1>
    <div class="is-divider mt-1 mb-0"></div>
    
    <div class="tabs is-centered is-size-5">
        <ul>
          {% for item in site.data.settings.menu %}
          <li class="pr-2 ">
            <a href="{{ item.file }}" class="navbar-item">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
    </div>
</nav>